/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */
#kontakt {
	text-align: center;
}

#kontakt h2 {
	font-size: 26pt;
	margin-bottom: 10px;
}

#kontakt p {
	font-size: 17pt;
	line-height: 20pt;
}

#map {
	overflow: hidden;
	border-style: groove;
	border-color: #8FBF59;
}

/* low width */
@media screen and (min-width: 1px) and (max-width: 899px) {
	#kontakt {
		margin: 30px 0px 0px 0px;
	}

	#map {
		width: 90vw;
		height: 90vw;
		margin: 20px auto 0 auto;

		border-width: 10px;
	}
}

/* medium and large screens */
@media screen and (min-width: 900px) {
	#kontakt {
		margin-top: 30px 0 0 3%;
	}

	#data {
		overflow: auto;

		width: 95.5%;
		margin: 20px 2% 0 0.5%;
		padding-top: 10px;
	}

	#map {
		width: 95%;
		height: 650px;
		margin: 2% 2% 0 2%;
		display: inline-block;

		border-width: 2px;
	}
}
